rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);

      match /pets/{petId} {
        allow read, create, update, delete: if isOwner(userId);
      }

      match /schedule/{itemId} {
      	allow read, create, update, delete: if isOwner(userId);
      }
    }

    match /lost-pets/{reportId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.reporterId == request.auth.uid;
    }
  }
}
